block import
	include ./_common/_utility/_variables
	include ./_common/_utility/_mixins
	include ./_layout/_mounting

doctype html
html(lang="ru")
	head
		block meta
			meta(charset="UTF-8")
			meta(name="viewport", content="width=device-width, initial-scale=1.0")
			meta(http-equiv="X-UA-Compatible", content="ie=edge")
		block style
			link(rel="stylesheet", href="./index.css")
		block title
			title Archetype
	body
		block body
		block script
			script(src='./index.min.js')
