extends _html
block title
    title Вход для клиентов
block body
    .app
        header.header.z-i
            +nav.z-i
        main.main
            .grid.z-i
                block page
                    +login
        +nextParticle
