extends _html
block title
    title Контакты
block body
    .app
        header.header.z-i
            +nav.z-i
        main.main
            .grid.z-i
                block page
                    +contacts
        +nextParticle
