extends ./_html
block title
    title Главная
block body
    .app
        header.header.z-i
            +nav.z-i
        main.main
            .grid.grid__.grid__home.grid__active
                +tabs
            .grid.grid__.grid__contacts
                +contacts.z-i
            .grid.grid__.grid__login
                +login.z-i
        +nextParticle
