mixin nav()
    - var nav = [{text: 'Главная', link: '#home'},{text: 'Контакты', link: '#contacts'},{text: 'Вход для клиентов', link: '#login'}]
    nav.nav&attributes(attributes)
        ul.nav__list
            each item in nav
                li.nav__item
                    a(href= item.link).nav__link= item.text

